/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }

body  {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #Eee8dd;
    font-family: 'Cabin', sans-serif;
}



/*For Navigation*/

 a {
    text-decoration: none;
}