/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }

body  {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #Eee8dd;
    font-family: 'Cabin', sans-serif;
}



/*For Navigation*/

 ul.main-nav, a {
    list-style: none;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}
